html{
	scroll-behavior: smooth;
}

.hero{
	font-weight: 500;
}
#hero-background{
	width: 100%;
}

.articles{
	display: grid;
	grid-template-columns: auto auto;
	max-height: 100vh;
	overflow-y: scroll;
}

#details{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: center;
	left: 50%;
	transform: translateX(-50%);
	gap: 20vw;
	top: 2em;
}
#tech-srvcs{
	font-size: 1.5em;
}
.about{
	min-width: 20em;
}
.contact{
	width: 100vw;
	height: 80vh;
}
#form{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#action-button{
	position: relative;
	transform: translateX(-50%);
	min-width: 10em;
}
.menu-parent{
	display: flex;
	gap: 2em;
}
.menu-button{
	text-decoration: underline;
}
@media screen and (max-width: 800px){
	.hero{
		height: 50vh;
	}
	.articles{
		display: flex;
		flex-direction: column;
		max-height: 50vh;
	}
	#details{
		flex-direction: column;
		align-content: stretch;
		gap: 5vh;
	}
	#hero-background{
		background-origin: padding-box;
		background-position: right;
		height: 100%;
	}
	#action-button{
		margin-left: 50%;
		transform: translateX(-50%);
		
	}
}