:root {
	/* fonts */
	--font-source-code-pro: "Source Code Pro";

	/* font sizes */
	--font-size-base: 1rem;
	--font-size-lg: 2.5rem;
	--font-size-xl: 5rem;

	/* Colors */
	--color-theme: #404;
	--color-white: #fff4ff;
	--color-grey: #545;
	--color-black: #1a1a1a;
	--color-gainsboro: #111;

	--panel-bg: #33333399

	/* Gaps */
	--gap-sm: 0.63rem;
	--gap-md: 1.81rem;
}

body {
	background-color: var(--color-gainsboro) !important;
	color: var(--color-white) !important;
	max-width: 100% !important;
}


nav, nav>*, .navbar>*, .navbar-nav>li>a {
	background-image: none !important;
	background-color: var(--color-black) !important;
	color: var(--color-grey) !important;
	border: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
	transition: all .3s;
	vertical-align: middle !important;
	&:hover{
		color: var(--color-white) !important;
	}
}
nav{
	margin: 0 !important;
}
.navbar-brand{
	margin: 1rem !important;
}
li{
	list-style: none;
	transition: all .5s ease-out;
	margin-top: 1rem;
	margin-bottom: 1rem;
	&:hover{
		scale: 105%
	}
}
.icon{
	height: 2rem;
	margin: auto;
}
.navbar-brand{
	color: var(--color-grey) !important;
	text-shadow: none !important;
	transition: all .3s;
	&:hover{
		color: var(--color-white) !important;
	}
}
.navbar-right{
	float: right !important;
	margin-right: 2rem !important;
}

a.project-link {
	font-weight:900;
	text-shadow: var(--color-white) .05rem .1rem;
	color: var(--color-theme) !important;
}

button,
a.btn-primary.btn.btn-lg {
	background-image: none !important;
	background-color: var(--color-theme) !important;
	color: var(--color-white) !important;
	border: none !important;
	box-shadow: none !important;
	transition: all .3s;
	&:hover{
		scale: 105% !important;
	}
}
a{
	color: var(--color-theme) !important;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
	background-color: var(--color-gainsboro);
	color: var(--color-white);

}

.spacer {
	width: 100%;
	height: 100%;
}

iframe {
	border: none;
	width: 80vw;
	height: 100vh;
	overflow: visible;

	&>* {
		background-color: transparent;
		color: white;

	}
}
.title{
	font-size: var(--font-size-xl);
}
#projects {
	min-height: fit-content;
	margin-bottom: 10vh;
	background-color: var(--color-black) !important;
	padding: 2rem;
	border-radius: 1em;
}

#personal {
	min-height: fit-content;
	margin-bottom: 10vh;
	padding: 2rem;
	border-radius: 1em;
}

br{
	height: 20vh !important;
}
.navbar-nav>.active>a{
	background-image: none !important;
	background-color: transparent !important;
	text-decoration: underline;
}
#hero {
	height: 60vh;
	padding-top: 5rem;
	background-image: url("static/nader-abushhab-HWLyAQ4Jsgc-unsplash.jpg");
	background-size: cover;
	background-position: 50% 80%;
}

#about {
	padding: 2rem;
	border-radius: 1em;
	background-color: var(--color-grey);
	margin-bottom: 10vh;
}
#about-content {
	margin: auto !important;
}

#profile_pic {
	max-height: 20vh;
	width: auto;
	max-width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	border-radius: 1em;
}

.proj-icon{
	max-height: 10vh;
	width: auto;
}
.proj-card{
	transition: all 1s;
}
.card-icon{
	font-size: 10rem;
	color: var(--color-theme)
}

.card {
	transition: all 1s;
	text-align: center;
}

.card:hover, .proj-card:hover {
	transform: scale(105%);
}

#tagline {
	font-size: 2rem;
	font-weight: normal;
}

#desc {
	text-align: justify;
}

#action-button {
	position: relative;
	float: left;
	width: 10em
}

#content {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1em;
}

.item {
	display: flex;
	flex-direction: column;
	width: 20vw;
}

.item-title {
	font-size: 2em;
}

.menu-parent {
	display: flex;
	gap: 2em;
}

.menu-button {
	text-decoration: underline;
}

nav {
	visibility: visible;
	display: flex;
	flex-direction: row;
	gap: 1em
}

.menu-button {
	font-size: .5em;
}

#mouse-glow {
	position: absolute;
	background-color: var(--color-theme);
	border-radius: 100%;
	width: 10vw;
	aspect-ratio: 1;
	z-index: -100;
	filter: blur(20px);
	transition: all ease-in-out .3s;
}

#blur {
	position: sticky;
	top:0;
	width: 100vw;
	height: 100%;
	backdrop-filter: blur(100px);
	z-index: -99;
}

#info {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	font-size: 1rem;

	&>* {
		margin: 0;
		min-width: fit-content;
	}
}



@media screen and (max-width: 800px) {
	.header {
		padding-top: 0;
		margin: auto;
		width: 100vw;
	}

	#iconMenu {
		display: inline;
		background-color: transparent;
		border: none;
	}

	nav {
		display: none;
	}

	#hero {
		position: relative;
		flex-direction: column;
		width: 100%;
		margin: auto;
		gap: 0;
	}

	.item {
		font-size: medium;
		flex-direction: row;
		align-items: center;
		width: 100%;
		gap: 1em;
		background-color: #00000033;
		padding: 1em;
		border-radius: 1em;
	}

	.item-title {
		font-size: 1.25em;
	}

	.item-img {
		width: 5em;
	}

	.item-det {
		width: auto;
	}

	#content {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0;
	}

	#about {
		position: relative;
		flex-direction: column;
		background-color: var(--color-grey);
	}

	#desc {
		width: 20em;
	}

	#info {
		flex-direction: column;
		gap: .5rem;

	}
	.flip-entry-thumb{
		border: none !important;
		box-shadow: none !important;
	}
}