:root{
	--border-thickness: 5%;
	--spacing: .2em;
	--color-1: #66153B;
	--color-2: #44D2F2;
	--font-size: 12pt;
}
body{
	background: linear-gradient(90deg, #66153BAA 19%, var(--color-1) 94%) black;
	color: var(--color-2);
	font-family: sans-serif;
}
main {
	display: flex;
	vertical-align: middle;
	width: 100vw;
	margin: var(--spacing);
}
header {
	position: absolute;
	display: flex;
	flex-direction: row;
	z-index: 20;
}
h1 {
	position: relative;
	font-size: 8vw;
	max-width: 45%;
}	
#content {
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	margin-left: 0%;
	margin-top: 50vh;
	transform: translateY(-50%);
}

@media screen and (max-width: 800px) {
	#content {
		display: flex;
		flex-direction: column;
		padding-left: 0%;
		padding-top: 0%;
		
	}
	h1{
		font-size: 4em;
		top: 10%;
		max-width: 100%;
	}
	main {
                display: flex;
		flex-direction: column;
		align-items: center;
	}
}

a, #socials_button {
	color: var(--color-2);
	text-decoration: none;
	padding-right: 2em;
	text-align: center;
}

.item {
	position: relative;
	width: max-content;
	z-index: 10;
	margin-left: var(--spacing);
	margin-bottom: var(--spacing);
}

.media {
	border-radius: 1rem;
	height: 15em;
	transition: border-radius .1s cubic-bezier(.25,.63,.61,.83);
	transition: transform .1s cubic-bezier(.25,.63,.61,.83);
}

.item > p {
	position: relative;
	color: var(--color-2);
	background-color: var(--color-1);
	border-radius: 1em;
	padding: 1em;
	margin-top: -1em;
	font-size: 0em;
	visibility: hidden;
	opacity: 0%;
	font-weight: bold;
	transition: font-size .5s  cubic-bezier(.25,.63,.61,.83);
	transition: opacity .5s  cubic-bezier(.25,.63,.61,.83);
}

.item:hover {
	z-index: 20;
}

.item:hover > .media{
	transform: scale(1.3, 1.3);
	border-radius: .25em;
	background-color: var(--color-1);
}

.item:hover > p{
	visibility: visible;
	font-size: var(--font-size);
	opacity: 100%;
	transform: scale(100%);
	max-width: 20em;
	z-index: 30;
}

#socials {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: calc(var(--spacing)*-2);
	transition: top .5s  cubic-bezier(.25,.63,.61,.83);
}
#socials > a{
	opacity: 0%;
	padding: var(--spacing);
	transition: opacity .5s  cubic-bezier(.25,.63,.61,.83);
	
}
#socials_button:hover > #socials{
	top:calc(var(--spacing)*6);
}
#socials_button:hover > #socials > a{
	opacity: 100%;
}

@media screen and (max-width: 800px){
	.media{
		max-width: 10em;
		height: auto;
	}
}
