:root{
    --text_color: #fff;
    --bg_color: #000;
    --accent-color: #6161ef;
    --component-spacing: 10%;
    --component-width: 80vw;
}

body{
    font-family: sans-serif;
    background-color: var(--bg_color);
    color: var(--text_color);
    overflow-x: hidden;
}

.wae_basic{
    border-radius: 3em;
    align-items: center;
}
.links_top{
    z-index: 4;
    position: fixed;
    float: left;
    margin: 3vh;
}

.footer{
    bottom: 0%;
}

#body{
    position: absolute;
    top: 6em;    ;
    left: 0;
    right: 0;
    justify-content: center;
}

#exb{
    position: absolute;
    left: 0;
    right: 0;
}

.comp_body{
    text-align: center;
    min-height: 5em;
    padding: var(--component-spacing);
    margin-left: 0%;
    margin-right: 0%;

}

.box {
    text-align: center;
    
}

.vbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    width: 100%;
}
.gbox{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

/* 
    a flex container that changes direction based on 
    screen size
*/
.fbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: var(--component-width);
    height: var(--component-spacing);
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}
.title > img{
    max-width: 80%;
    margin-bottom: 1em;
}
.sub{
    font-weight: lighter;
    font-size: 1em;
}
.media_container{
    display: flex;
    max-height: 40em;
    min-height: 20em;
    justify-content: center;
    margin: 1.5em;
    border-radius: 1em;
    box-shadow: .5em .5em var(--text_color);
}

.desc{
    margin: 2.5%;
    min-width: 20em;
    max-width: 30%;
    vertical-align: middle;
    text-align: center;
}
hr{
    border-width: .2em;
    border-radius: 3em;
    border-style:solid;
    align-self: stretch;
    color: var(--text_color);
}

#socials{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
    bottom: 5%;
}
.action{
    padding: .5em 3em;
    margin: 1em;
    background-color: var(--accent-color);
    color: var(--text_color);
    border-radius: 3em;
    border: none;
    font-size: larger;
    font-weight: bolder;
}
.interactive{
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
.interactive:hover{
    text-decoration: underline;
}
.interactive:visited{
    color: var(--text_color);
}
#socials > a > img{
    width: 3em;
    margin-right: 1em;
}

@media screen and (max-width: 800px) {
    #header{
        width: 100%;
    }
    .title > img{
       height: inherit;
       max-width: 80%;
    }
    .sub{
        font-size: .5em;
    }
    hr{
        border-width: .15em;
    }    
    .comp{
        
        height: 100%;
        align-items: center;
    }
    .fbox{
        flex-direction: column;
        width: 80%;
        justify-content: middle;
    }
    .media_container{
       max-width: 80%;
       box-shadow: .25em .25em var(--text_color);

    }
    .desc{
        width: 80%;
    }
    nav{
        width: 100%;
        max-width: 100%;
        height: fit-content;
        max-height: 80%;
    }
    model-viewer{
        height: 30em;
    }
}